.project-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px 0;
  }
  
  @media (min-width: 768px) {
    .project-navigation {
      flex-direction: row;
      justify-content: center;
      max-width: 570px;
      margin: 24px auto;
    }
  }
  
  .pagination {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
  }
  
  @media (min-width: 768px) {
    .pagination {
      margin-bottom: 0;
      margin-right: 40px;
    }
  }
  
  .page-current {
    color: #333333;
  }
  
  .page-total {
    color: #BDBDBD;
  }
  
  .nav-buttons {
    display: flex;
    gap: 12px;
  }
  
  .nav-button {
    width: 53px;
    height: 53px;
    border: 2px solid #000;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
  }
  
  .nav-button.active {
    background-color: #F9F9F9;
  }
  